
body {
    background-color: lightgray;
}
.banner {
    background-color: white;
    padding: 10px;
}
h1 {
    display: inline-block;
    vertical-align: 50%;
}
#headsection {
    background-color: white;
    margin-top: 30px;
    padding: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#addtask {
    background-color: rgb(0, 204, 255);
    color: white;
    margin-left: 5%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid lightgrey;
}
#addsection {
    background-color: white;
    color: grey;
    margin-left: 5px;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid lightgrey;
}
#bigsection {
    
}