* {
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body {
    background-color: lightgray;
}
.banner {
    background-color: white;
    padding: 10px;
    margin: 0;
}
h1 {
    display: inline-block;
    vertical-align: 50%;
}
#headsection {
    background-color: white;
    margin-top: 30px;
    padding: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#addtask {
    background-color: rgb(0, 204, 255);
    color: white;
    margin-left: 5%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid lightgrey;
}
#addsection {
    background-color: white;
    color: grey;
    margin-left: 5px;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid lightgrey;
}
main {
    width: 1000px;
    margin: auto;
}
#bigsection {
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-bottom: 10px;
}
.littlesection {
    margin-left: 50px;
}
h3 {
    margin-top: 3px;
    padding-top: 30px;
}
.testo {
    margin-bottom: 15px;
}
.checkmark {
    color: green;
    border: 2px solid green;
    padding: 2px;
    border-radius: 50%;
}
.xmark {
    color: red;
    border: 2px solid red;
    padding: 2px;
    border-radius: 50%; 
}
.azzurro {
    background-color: rgb(0, 162, 255);
    color: white;
    font-size: 10px;
    padding: 10px;
    border-radius: 15px;
}
#viola {
    background-color: rgb(159, 130, 238);
    color: white;
    font-size: 10px;
    padding: 10px;
    border-radius: 15px;
}
#verde {
    background-color: rgb(0, 128, 64);
    color: white;
    font-size: 10px;
    padding: 10px;
    border-radius: 15px;
}
#arancione {
    background-color: orange;
    color: white;
    font-size: 10px;
    padding: 10px;
    border-radius: 15px;
}
#rosa {
    background-color: rgb(255, 0, 119);
    color: white;
    font-size: 10px;
    padding: 10px;
    border-radius: 15px;
}
#giallo {
    background-color: rgb(21, 255, 0);
    color: white;
    font-size: 10px;
    padding: 10px;
    border-radius: 15px;
}
